body{
    background-color: rgb(102, 102, 102);
    margin: 0px;
}
.navbarFloat{
    display: flex;  
    align-items: center;  
    height: 50px;
    background-color:brown;
    margin: 0px;
}

nav ul {
    list-style: none;    
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

.navbarFloatImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 10px;
}
.navbarTop{
    display: flex;
    height: 100px;
    align-items: center;
    background-color:blueviolet;
    gap: 500px;
}