body{
    background-color: rgb(102, 102, 102);
    margin: 0px;
}
.navbarFloat{
    display: flex;  
    align-items: center;  
    background-color:brown;
    margin: 0px;
}

nav ul {
    list-style: none;    
    display: flex;
    gap: 20px;
}

nav li {
}

.navbarFloatImg {
    height: 100px;
    width: 100px;
    object-fit: cover;
    gap: 50px;
}
.navbarTop{
    display: flex;
    height: 100px;
    align-items: center;
    background-color:blueviolet;
    gap: 500px;
}