body{
    background-color: rgb(102, 102, 102);
}
nav{
    display: flex;  
    align-items: center;  
    height: 100px;
    background-color: gold;
}

nav ul{
  list-style: none;    
  padding: 0;
  margin: 0;
}

nav li{
  display: inline;
  margin: 0 15px;
}

nav img{
    width: 50;
    height: 50;
}
