body{
    background-color: rgb(102, 102, 102);
}
.navbarFloat{
    display: flex;  
    align-items: center;  
    height: 200px;
    background-color:brown;
}

nav ul {
    list-style: none;    
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.navbarTop{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background: #222;
}