body{
    background-color: rgb(102, 102, 102);
    margin: 0px;
}
.navbarFloat{
    display: flex;  
    align-items: center;  
    background-color:brown;
    margin: 0px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbarFloatImg{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.navbarTop{
    display: flex;
    height: 100px;
    align-items: center;
    background-color:blueviolet;
    gap: 500px;
}